{% extends 'base.html' %}
<html>
<head>
    <title>Home Page</title>
</head>
{% block child_block %}
    <dl>
        <dt class="font-weight-bold">About Founder</dt>
        <dd>Content about Founder</dd>

        <dt class="font-weight-bold">About Durgasoft</dt>
        <dd>Content about Founder</dd>

        <dt class="font-weight-bold">Achievement</dt>
        <dd>Content about achievement</dd>
    <td>
        <ol>
            <li>So many student placed in MNC's in the world</li>
            <li>So many student placed in MNC's in the world</li>
            <li>So many student placed in MNC's in the world</li>
            <li>So many student placed in MNC's in the world</li>
            <li>So many student placed in MNC's in the world</li>
            <li>So many student placed in MNC's in the world</li>
            <li>So many student placed in MNC's in the world</li>
            <li>So many student placed in MNC's in the world</li>
            <li>So many student placed in MNC's in the world</li>
            <li>So many student placed in MNC's in the world</li>
            <li>So many student placed in MNC's in the world</li>
        </ol>
    </td>
    </dl>
{% endblock %}
</html>